html {
  font-family: sans-serif
}
body {
  font-family: sans-serif;
}
code, kbd, pre, samp {
  font-family: monospace
}
button, input, optgroup, select, textarea {
  font-family: inherit
}
.tooltip {
  font-family: sans-serif
}
.popover {
  font-family: sans-serif
}
.text-monospace {
  font-family: monospace
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-right-radius {
  border: 2px solid red;
  padding: 10px;
  border-top-right-radius: 25px;
}