{% extends 'base.html' %}

{% block content %} <br>
<div class="card border-light">
    <div class="card-header">
            <h3>{% block title %}
               Mental Illness Quiz
                {% endblock %}</h3>
    </div>
    <div class="card-body">
        <form method="post" class="form-check">
            <br>
            <h4>Have you previously diagnosed with a mental illness?</h4> <br>
            <input type="radio" class="btn-check rounded-pill" id="Yes 0" name="answer 0" value="Yes" autocomplete="off">
            <label class="btn btn-outline-success rounded-pill" for="Yes 0">Yes</label>
            <input type="radio" class="btn-check rounded-pill" id="No 0" name="answer 0" value="No" autocomplete="off" checked>
            <label class="btn btn-outline-success rounded-pill" for="No 0">No</label><br><br>
            <div class="row g-2 align-items-center mb-3">
                <div class="col-auto">
                    <label class="col-form-label">If yes, specify</label><br>
                    <select id="specify 0" name="specify 0" class="selectpicker" multiple data-live-search="true">
                        <option value="Bipolar Disorder">Bipolar Disorder</option>
                        <option value="Depression">Depression</option>
                        <option value="Anxiety">Anxiety</option>
                        <option value="Psychotic">Psychotic</option>
                    </select>
                </div>
            </div>
            <hr/><br>
            <h4>Anyone diagnosed with mental illness in your family?</h4> <br>
            <input type="radio" class="btn-check rounded-pill" id="Yes 1" name="answer 1" value="Yes" autocomplete="off">
            <label class="btn btn-outline-success rounded-pill" for="Yes 1">Yes</label>
            <input type="radio" class="btn-check rounded-pill" id="No 1" name="answer 1" value="No" autocomplete="off" checked>
            <label class="btn btn-outline-success rounded-pill" for="No 1">No</label><br><br>
            <div class="row g-2 align-items-center mb-3">
                <div class="col-auto">
                    <label class="col-form-label">If yes, specify</label><br>
                    <select id="specify 1" name="specify 1" placeholder="If yes, specify" class="selectpicker" multiple data-live-search="true">
                        <option value="Both parents">Both parents</option>
                        <option value="Single Parent">Single Parent</option>
                        <option value="Sibling">Sibling</option>
                        <option value="Relative">Relative</option>
                        <option value="Grandparents">Grandparents</option>
                    </select>
                </div>
            </div>
            <hr/><br>
            <button type="submit" class="btn rounded-pill" style="background-color: #32BF84;">Next</button>
        </form>
    </div>
</div> <br> <br>
{% endblock %}