<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
  <header>
      <div class="headerCol">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="logoCol"><a><img src="{{ url_for('static', filename='images/company-logo.svg') }}" alt="..." height="64"> Mental Health Check </a></div>
            </div>
            <div class="col">
              <div class="d-md-none">
                <button class="navToggle">
                  <span class="navToggle__text">Toggle Menu</span>
                </button>
              </div>
              <div class="navCollapseCol">
                <div class="navCol">
                  <ul>
                      <li><a href="{{ url_for('home') }}">Home</a></li>
                      <li><a href="{{ url_for('client') }}">Take A Self-Assessment</a></li>
                      <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                      <li><a href="#">About Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"></script>
    <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <footer>
        <div class="footerCol">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="font-weight: bold;">Head Office: Masala Ramabulana Holdings</p>
                    <p>11 Thora Cres<br>Wynberg<br>Sandton<br>2090<br>Tel: 011 262 2107</p>
                </div>
                <div class="col">
                    <p style="font-weight: bold;">Links</p>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('client') }}">Take A Self-Assessment</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    </ul><br>
                </div>
            </div>
        </div>
      <div class="copyrightCol">
          <h6>© 2022 Copyright: Masala Ramabulana Holdings</h6>
      </div>
        </div>
    </footer>
  </body>
</html>