{% extends 'base.html' %}

{% block content %} <br>
<div class="card border-light">
    <div class="card-header">
        <h3>{% block title %} About You {% endblock %}</h3>
    </div>
    <div class="card-body">
        <br>
        <form class="form-floating" method="post">
            <div class="row g-2 mb-3">
                <div class="col-auto">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                        <label class="col-form-label" for="firstname">First Name</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                        <label class="col-form-label" for="lastname">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-auto">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cell" name="cell" placeholder="Cell">
                        <label class="col-form-label" for="cell">Cell</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-auto">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        <label class="col-form-label" for="email">Email</label>
                    </div>
                </div>
            </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <select class="form-select" id="age" name="age" placeholder="Age">
                        <option selected>Choose...</option>
                        <option value="18-24">18-24</option>
                        <option value="25-34">25-34</option>
                        <option value="35-44">35-44</option>
                        <option value="45-54">45-54</option>
                        <option value="55-64">55-64</option>
                        <option value="65+">65+</option>
                    </select>
                    <label for="age">Age</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <label class="col-form-label" id="basic-gender">Gender</label>
            </div>
            <div class="col-auto">
                <input type="radio" class=form-check-input" id="gender_female" name="gender" value="female" autocomplete="off" checked>
                <label class="form-check-label" for="gender_female">Female</label>
            </div>
            <div class="col-auto">
                <input type="radio" class=form-check-input" id="gender_male" name="gender" value="female" autocomplete="off">
                <label class="form-check-label" for="gender_female">Male</label>
            </div>
            <div class="col-auto">
                <input type="radio" class=form-check-input" id="gender_other" name="gender" value="other" autocomplete="off">
                <label class="form-check-label" for="gender_female">Other</label>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <select class="form-select" id="marital" name="marital" placeholder="Marital Status">
                        <option selected>Choose...</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Separated">Separated</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Widowed">Widow/Widower</option>
                    </select>
                    <label class="col-form-label" for="marital">Marital Status</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="children" name="children" placeholder="Number Of Children">
                    <label class="col-form-label" for="children">Number Of Children</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="addr1" name="addr1" placeholder="Address Line 1">
                    <label class="col-form-label" for="addr1">Address Line 1</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="addr2" name="addr2" placeholder="Address Line 2">
                    <label class="col-form-label" for="addr2">Address Line 2</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City/Town">
                    <label class="col-form-label" for="city">City/Town</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <select class="form-select" id="province" name="province" placeholder="Province">
                        <option selected>Choose...</option>
                        <option value="Limpopo">Limpopo</option>
                        <option value="Gauteng">Gauteng</option>
                        <option value="North West">North West</option>
                        <option value="Mpumalanga">Mpumalanga</option>
                        <option value="Northern Cape">Northern Cape</option>
                        <option value="Free State">Free State</option>
                        <option value="Kwazulu Natal">Kwazulu Natal</option>
                        <option value="Eastern Cape">Eastern Cape</option>
                        <option value="Western Cape">Western Cape</option>
                    </select>
                    <label class="col-form-label">Province</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="postal" name="postal" placeholder="0001">
                    <label class="col-form-label" for="postal">Postal Code</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <select class="form-select" id="education" name="education" placeholder="Level Of Education">
                        <option selected>Choose...</option>
                        <option value="Grade 12">Grade 12</option>
                        <option value="Diploma">Diploma</option>
                        <option value="Bachelor">Bachelor's Degree</option>
                        <option value="Master">Master's Degree</option>
                        <option value="Doctoral Degree">Doctoral Degree</option>
                        <option value="Other">Other</option>
                    </select>
                    <label class="col-form-label">Level Of Education</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="rank" name="rank" placeholder="Rank">
                    <label class="col-form-label" for="rank">Rank/Employment</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="years" name="years employed" placeholder="Number Of Years Employed">
                    <label class="col-form-label" for="years">Number Of Years Employed</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="level" name="training" placeholder="Training(level)">
                    <label class="col-form-label" for="level">Training(level)</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <select class="form-select" id="race" name="race" placeholder="Race/Ethnicity">
                        <option selected>Choose...</option>
                        <option value="African">African</option>
                        <option value="Coloured">Coloured</option>
                        <option value="Asian">Asian</option>
                        <option value="White">White</option>
                        <option value="Other">Other</option>
                    </select>
                    <label class="col-form-label">Race/Ethnicity</label>
                </div>
            </div>
        </div>
        <div class="row g-2 align-items-center mb-3">
            <div class="col-auto">
                <div class="form-floating">
                    <select class="form-select" id="religion" name="religion" placeholder="Religion">
                        <option selected>Choose...</option>
                        <option value="Traditional">Traditional African religions</option>
                        <option value="Christianity">Christianity</option>
                        <option value="Islam">Islam</option>
                        <option value="Hinduism">Hinduism</option>
                        <option value="Judaism">Judaism</option>
                        <option value="Other">Other</option>
                    </select>
                    <label class="col-form-label" for="religion">Religion</label>
                </div>
            </div>
        </div>
        <div> <br>
            <button type="submit" class="btn rounded-pill" style="background-color: #32BF84;">Book</button>
        </div>
    </form>
    </div>
</div> <br> <br>
{% endblock %}