{% extends 'base.html' %}

{% block content %}
<section class="main">
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                  <h1 class="xlTitle pb-md-3">{% block title %} About You {% endblock %}</h1>
                  <p>Please take a moment to answer the following optional questions.
                      Your information will be kept confidential.
                      Your answers help us make a better assessment about your mental health condition.
                      When you are done, scroll to the bottom of the survey and click "Next" to start your assessment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="main">
    <div>
        <div class="container">
            <form method="post">
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label for="firstname">First name</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Your first name..">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label for="lastname">Last name</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Your name..">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="cell">Mobile</label>
                        <input type="tel" class="form-control" id="cell" name="cell" placeholder="Your cell number..">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Your email address">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label for="age">Age</label>
                        <select class="form-select" id="age" name="age" placeholder="Age">
                            <option selected>Choose...</option>
                            <option value="18-24">18-24</option>
                            <option value="25-34">25-34</option>
                            <option value="35-44">35-44</option>
                            <option value="45-54">45-54</option>
                            <option value="55-64">55-64</option>
                            <option value="65+">65+</option>
                        </select>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <div>
                            <label class="col-form-label" id="basic-gender">Gender</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="gender_female" name="gender" value="female" autocomplete="off" checked>
                            <label class="form-check-label" for="gender_female">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="gender_male" name="gender" value="female" autocomplete="off">
                            <label lass="form-check-label" for="gender_male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="gender_other" name="gender" value="other" autocomplete="off">
                            <label lass="form-check-label" for="gender_other">Other</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label">Marital Status</label>
                        <select class="form-select" name="marital" placeholder="Marital Status">
                            <option selected>Choose...</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Separated">Separated</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Widowed">Widow/Widower</option>
                        </select>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="children">Number Of Children</label>
                        <input type="number" class="form-control" id="children" name="children" placeholder="Number Of Children">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="addr1">Address Line 1</label>
                        <input type="text" class="form-control" id="addr1" name="addr1" placeholder="Address Line 1">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="addr2">Address Line 2</label>
                        <input type="text" class="form-control" id="addr2" name="addr2" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="city">City/Town</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City/Town">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label">Province</label>
                        <select class="form-select" id="province" name="province" placeholder="Province">
                            <option selected>Choose...</option>
                            <option value="Limpopo">Limpopo</option>
                            <option value="Gauteng">Gauteng</option>
                            <option value="North West">North West</option>
                            <option value="Mpumalanga">Mpumalanga</option>
                            <option value="Northern Cape">Northern Cape</option>
                            <option value="Free State">Free State</option>
                            <option value="Kwazulu Natal">Kwazulu Natal</option>
                            <option value="Eastern Cape">Eastern Cape</option>
                            <option value="Western Cape">Western Cape</option>
                        </select>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="postal">Postal Code</label>
                        <input type="number" class="form-control" id="postal" name="postal" placeholder="Your postal code">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label">Level Of Education</label>
                        <select class="form-select" id="education" name="education" placeholder="Level Of Education">
                            <option selected>Choose...</option>
                            <option value="Grade 12">Grade 12</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Higher Certificate">Higher Certificate</option>
                            <option value="Bachelor">Bachelor's Degree</option>
                            <option value="Master">Master's Degree</option>
                            <option value="Doctoral Degree">Doctoral Degree</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="rank">Rank/Employment</label>
                        <select class="form-select" id="rank" name="rank" placeholder="Rank">
                            <option selected>Choose...</option>
                            <option value="General">General</option>
                            <option value="Lieutenant General">Lieutenant General</option>
                            <option value="Major General">Major General</option>
                            <option value="Brigadier">Brigadier</option>
                            <option value="Colonel">Colonel</option>
                            <option value="Lieutenant Colonel">Lieutenant Colonel</option>
                            <option value="Major">Major</option>
                            <option value="Captain">Captain</option>
                            <option value="Lieutenant">Lieutenant</option>
                            <option value="Warrant Officer">Warrant Officer</option>
                            <option value="Sergent">Sergent</option>
                            <option value="Constable">Constable</option>
                        </select>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label" for="years">Number Of Years Employed</label>
                        <input type="number" class="form-control" id="years" name="years employed" placeholder="Number Of Years Employed">
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-xm-2">
                    <div class="col-auto">
                        <label class="col-form-label">Race/Ethnicity</label>
                        <select class="form-select" id="race" name="race" placeholder="Race/Ethnicity">
                            <option selected>Choose...</option>
                            <option value="African">African</option>
                            <option value="Coloured">Coloured</option>
                            <option value="Asian">Asian</option>
                            <option value="White">White</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="submit">
                    <button type="submit" class="btn btnPrimary">Next</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}