{% extends 'base.html' %}

{% block content %}
    <section class="main">
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">Contact us below</h1>
                  <p>Thank you for reaching out to Mental Health Check. If you are booking for appointment,
                  please provide best time when you will be available to receive a call.</p> <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="main">
        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-form-label">Name</label>
                        <input type="text" name="name" placeholder="Your name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-form-label">Email</label>
                        <input type="email" name="email" placeholder="Your email address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-form-label">Mobile</label>
                        <input type="tel" name="phone" placeholder="Your mobile number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-form-label">Message</label>
                        <textarea name="message" placeholder="Specify the date if you are booking an appointment." rows="6"></textarea>
                    </div>
                </div>
                <div class="submit">
                    <button type="submit" class="btn btnPrimary">Send</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
