{% extends 'base.html' %}

{% block content %} <br>
<div class="card border-light text-center">
    <div class="card-body">
        <h1>{% block title %} Welcome To Mental Health Check {% endblock %}</h1>
        <p class="lh-sm"  style="color: #5d54a0;"> Mental Health Check uses online screening to determine whether you are experiencing symptoms of a mental health conditions.</p> <br>
    </div>
</div> <br>
<div class="card text-center" style="font-weight: bold; border-top-right-radius: 25px; border: dashed;">
    <div class="card-body">
        <p class="lh-sm">Mental health conditions, such as depression or anxiety, are real, common and treatable. And recovery is possible. So take the first steps to mental health by taking one of our 3 minutes screening tests.</p> <br>
        <div class="row">
            <div class='col'>
                <a class="btn btn-default btn-lg btn-square mr-2" style="background-color: #7BCF66; font-weight: bold;" href="{{ url_for('client') }}">Take A Self-Assessment</a>
            </div>
        </div>
    </div>
</div> </hr> <br>
<div class="row">
  <div class="col-sm-6">
    <div class="card border-light">
      <div class="card-body">
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-light">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}