{% extends 'base.html' %}

{% block content %}
<section class="main">
  <div class="bannerSection">
      <div class="bannerContent">
        <div class="container">
            <h1 class="xlTitle pb-md-3">{% block title %} Welcome to Our Mental Health Portal {% endblock %}</h1>
            <img src="{{ url_for('static', filename='images/img2.jpg') }}" class="rounded float-left" alt="..." height="300">
        </div>
      </div>
  </div>
</section>
<section class="main">
    <div class="sectionSpaceSm">
        <div class="container">
            <div class="bannerBtnCol">
                <div class="row">
                    <div class="col-auto"> <hr>
                        <p>Mental Health Portal is an online screening tool for symptoms
                            of a mental health conditions. Mental health conditions such as depression or anxiety,
                            are real, common, treatable and recovery is possible. Take the first step to a better
                            mental well-being by completing one of our 3 minutes screening assessments.</p> <br>
                      <a href="{{ url_for('client') }}" class="btn btnPrimary">Start A Self-Assessment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}