{% extends 'base.html' %}

{% block content %}
<section>
  <div class="bannerSection">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-auto order-md-last">
              <div class="bannerUserImg">
                <img src="{{ url_for('static',filename='images/user-img.jpg') }}" alt="...">
              </div>
            </div>
            <div class="col-md">
              <div class="bannerContent">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}
                  {% endwith %} <br>
                <h1 class="xlTitle pb-3">{% block title %} Welcome to Mental Health Check {% endblock %}</h1> <br>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section>
    <div class="lightBg">
        <div class="container"><br>
            <div class="bannerBtnCol">
                <div class="row">
                    <div class="col-auto">
                        <p>Mental Health Check uses online screening to determine whether you are experiencing symptoms of a mental health conditions.<br>
                Mental health conditions, such as depression or anxiety, are real, common and treatable. And recovery is possible. So take the first steps to mental health by taking one of our 3 minutes screening tests.</p>
                      <a href="{{ url_for('client') }}" class="btn btnPrimary">Take A Self-Assessment</a>
                    </div>
                </div>
            </div>
        </div><br><br>
    </div>
</section>
{% endblock %}