{% extends 'base.html' %}

{% block content %} <br>
<section class="main">
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">{% block title %} Initial Assessment {% endblock %}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="main">
    <div>
        <div class="container"> <br>
        <form method="post">
            {% for i in range(0, len) %}
            <div class="question">
                <h4>{{ q[i]['q'] }}</h4>
            </div>
            <input type="radio" class="btn-check rounded-pill" id="Yes {{i}}" name="answer {{i}}" value="Yes" autocomplete="off">
            <label class="btn btn-outline-success rounded-pill" for="Yes {{i}}">Yes</label>
            <input type="radio" class="btn-check rounded-pill" id="No {{i}}" name="answer {{i}}" value="No" autocomplete="off" checked>
            <label class="btn btn-outline-success rounded-pill" for="No {{i}}">No</label><br><br>
            <div class="mb-3">
                <div class="col-auto">
                    <label>If yes, specify...</label>
                    <select multiple name="specify {{i}}">
                        {% for item in q[i]['add'] %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
            <div class="submit">
                <button type="submit" class="btn btnPrimary">Next</button>
            </div>
        </form>
    </div>
</div>
</section>
<script>
        const btnCheck = document.getElementsByClassName("btn-check rounded-pill");
        const specify = document.getElementsByTagName("select");

        btnCheck.onclick = function () {
            if (btnCheck.value == 'No') specify.disabled = true;
            else specify.disabled = false;


        }
</script>
{% endblock %}