{% extends 'base.html' %}

{% block content %} <br>
<section class="main">
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                  <h1 class="xlTitle pb-md-3">{% block title %} Available Assessments{% endblock %}</h1>
                  <p>We recommend that you take one of these assessments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="main">
    <div class="sectionSpaceSm">
        <div class="container-fluid">
            <div class="bannerBtnCol">
                <a href="{{ url_for('mental') }}" class="btn btnPrimary quiz" target="_blank">Depression Assessment</a>
                <a href="{{ url_for('anxiety') }}" class="btn btnPrimary quiz" target="_blank">Anxiety Assessment</a>
                <a href="{{ url_for('alcohol_drugs') }}" class="btn btnPrimary quiz" target="_blank">Past Alcohol or Drug Use Assessment</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}